/* START makes the footer stay on bottom of screen
Taken from materialcss.com notes */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

/*END footer on bottom */

/*START Material icon CSS
taken from https://google.github.io/material-design-icons/ */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-60 { font-size: 60px; }

/* Custom colors */
.material-icons.icon-selected { color: #2196f3; }
.material-icons.icon-unselected { color: #000000; }

/*END material icon CSS */


.bolded {
  font-weight: bold;
}

.max-width {
  width: 100%;
}

/* START Index.html elements */

#indexContainer {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 10px;
}

#titleRow {
  grid-row: 1 / span 1;
}

#secondTitle {
  grid-row: 3 / span 1;
}

#collageRow {
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

#collage1 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 4;
  align-self: end;
}

#collage2 {
  grid-row: 1 / span 5;
  grid-column: 1 / span 2;
  align-self: center;
}

#collage3 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
  align-self: start;
}

#collage4 {
  grid-row: 4 / span 2;
  grid-column: 5 / span 2;
  align-self: start;
}

#collage5 {
  grid-row: 1 / span 5;
  grid-column: 7 / span 2;
  align-self: center;
}

#cardsRow {
  grid-row: 4 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
}

#card1 {
  grid-column: 1 / span 1;

}

#card2 {
  grid-column: 2 / span 1;
}

#card3 {
  grid-column: 3 / span 1;

}

/* END index.html elements */

/* START chat.html elements */

#chatContainer {
  display: grid;
  grid-template-columns: 10% 4fr 1fr;
  grid-template-rows: 10% auto;
  grid-column-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#chatBox {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}

.message {
  padding: 5px;
  margin-top: 5px;
  font-size: larger;
}

.message.annie {
  background-color: #80deea;
  text-align: right;
}

.message.player {
  background-color: #80cbc4;
}

/* END chat.html elements */

/* START map.html elements */

#mapContainer {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: auto 100px;
  min-height: 70%;
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

#mapLocations {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

#map {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  min-height: 70%;
}

#msgsFromAnnie {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin-bottom: 10px;
}

.msgSuccess {
  color: #00897b;
}

.msgError {
  color: #ff8f00;
}

/*END map.html elements */

/*START game.html elements */
#defaultCanvas0 {
  border: solid 1px black;
}

/*END game.html elements */
