body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.bolded {
  font-weight: bold;
}

#indexContainer {
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-row-gap: 10px;
}

#titleRow {
  grid-row: 1 / span 1;
}

#secondTitle {
  grid-row: 3 / span 1;
}

#collageRow {
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(8, 1fr);
}

#collage1 {
  grid-row: 1 / span 3;
  grid-column: 3 / span 4;
  align-self: end;
}

#collage2 {
  grid-row: 1 / span 5;
  grid-column: 1 / span 2;
  align-self: center;
}

#collage3 {
  grid-row: 4 / span 2;
  grid-column: 3 / span 2;
  align-self: start;
}

#collage4 {
  grid-row: 4 / span 2;
  grid-column: 5 / span 2;
  align-self: start;
}

#collage5 {
  grid-row: 1 / span 5;
  grid-column: 7 / span 2;
  align-self: center;
}

#cardsRow {
  grid-row: 4 / span 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
}

#card1 {
  grid-column: 1 / span 1;

}

#card2 {
  grid-column: 2 / span 1;
}

#card3 {
  grid-column: 3 / span 1;

}
